---
---
<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Pratik Rathore</title>

  <meta name="author" content="Pratik Rathore">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="stylesheet.css">
	<!-- <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌐</text></svg>"> -->
  <link rel="icon" href="images/stanford_logo_small.png" type="image/png">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="text-align:center">
                <name>Pratik Rathore</name>
              </p>
              <p>
                I recently graduated from <a href="https://ee.stanford.edu">Stanford University</a> with a PhD in Electrical Engineering, advised by {% include author.html id="udell" %}.
                I am currently interning at a stealth startup in the energy sector, and will start as a quantitative researcher at <a href="https://www.citadelsecurities.com/">Citadel Securities</a> in Fall 2026.
              </p>
              <p>
                Before Stanford, I graduated from the <a href="https://www.umd.edu">University of Maryland</a> with a double degree in Electrical Engineering and Mathematics.
              </p>
              <p>
                During my PhD, I have interned at <a href="https://www.skyworksinc.com/">Skyworks Solutions</a>, where I worked on AI-driven circuit design automation,
                and at <a href="https://www.gridmatic.com">Gridmatic</a>, where I worked on faster optimization
                for battery scheduling and price impact models for energy trading.
              </p>
              <p style="text-align:center">
                <a href="mailto:pratikr@alumni.stanford.edu">Email</a> &nbsp/&nbsp
                <a href="data/rathore_resume.pdf">Resume</a> &nbsp/&nbsp
                <a href="data/rathore_cv.pdf">CV</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?user=9WOwy2sAAAAJ&hl=en">Google Scholar</a> &nbsp/&nbsp
                <a href="https://www.linkedin.com/in/pratikrathore/">LinkedIn</a> &nbsp/&nbsp
                <a href="https://github.com/pratikrathore8/">GitHub</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/pratik_rathore.jpeg"><img style="width:100%;max-width:100%" alt="profile photo" src="images/pratik_rathore_circle.png" class="hoverZoomLink"></a>
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading>Research</heading>
              <p>
                Earlier in my PhD, I leveraged techniques from randomized numerical linear algebra and stochastic optimization to design fast, scalable optimization algorithms for training machine learning models.
                Later in my PhD, I became interested in scientific machine learning, particularly focusing on
                challenges and applications of physics-informed neural networks and operator learning.
              </p>
              <p>
                <sup>*</sup> denotes equal contribution.
              </p>
            </td>
          </tr>
        </tbody></table>
        {% for pub in site.data.publications %}{% include publication.html pub=pub %}{% endfor %}
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Teaching</heading>
            </td>
          </tr>
        </tbody></table>
        <table width="100%" align="center" border="0" cellpadding="20"><tbody>
          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/stanford_logo.png" alt="stanford" width="150" height="150">
            </td>
            <td width="75%" valign="center">
              CA, Optimization (CME 307), Fall 2025<br>
              CA, Optimization (CME 307), Fall 2024<br>
              CA, Optimization (CME 307), Winter 2024<br>
              CA, Convex Optimization II (EE 364B), Spring 2023
            </td>
          </tr>
          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/umd.png" alt="umd" width="125" height="125">
            </td>
            <td width="75%" valign="center">
              TA, Intermediate Programming Concepts for Engineers (ENEE 150), Spring 2021
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                Template borrowed from <a href="https://jonbarron.info">Jon Barron</a>.
              </p>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </table>

  <!-- Allow for abstract to be opened and closed -->
  <script>
    function toggleAbstract(id) {
      var element = document.getElementById(id);

      if (element.style.display === "none" || element.style.display === "") {
        element.style.display = "block"; // Show the abstract
      } else {
        element.style.display = "none"; // Hide the abstract
      }
    }
  </script>

  <!-- <a title="Privacy-friendly Web Analytics" href="https://clicky.com/101299767"><img alt="Clicky"
      src="//static.getclicky.com/media/links/badge.gif" border="0" /></a> -->
  <script async src="//static.getclicky.com/101299767.js"></script>
  <!-- <noscript>
    <p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101299767ns.gif" /></p>
  </noscript> -->
</body>

</html>
